body {
  font-family: verdana;
  background-color: black;
  text-align: center;
}

.main title {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.excursionlink {
  color: aquamarine;
  font-size: 16px;
}

.secondarytitle {
  font-weight: 300;
  font-size: 42px;
}

.p {
  font-size: 21px;
  color:gray;
}

.camp {
}

p {
  text-align:center;
}

.excursionlogo {
  text-align: right;
  color: gray;
}
